* {
    box-sizing: border-box;
  }

  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .header {
    padding: 1px 0px 150px 0px;

    height: 120px;
    background-color: black;
    color: #ffffff;
  }

  .main { 
    background-image: linear-gradient(to bottom, #001728, #4D6474);
    color: #ffffff;
    padding-bottom: 20px;
    
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom, #4D6474, #001728);
    color: #ffffff;
  }

  .text {
    margin-left: 90px;
    margin-right: 190px;
    text-align: center;
} 

img {
  border: 5px solid #555;
}

@media only screen and (max-width: 700px) {
  .text {
    padding: 24px;
    font-size: 60%;
    text-align: left;
  }
}
