* {
    box-sizing: border-box;
  }

  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .container {
    padding: 1px 0px 150px 0px;

    height: 120px;
    background-color: black;
    color: #ffffff;
  }

  .header {
    padding: 150px;
    background-image: url("assets/backgroundpc.jpg");
    width: 1260px;
    height: 398px;
  }

  .main { 
    background-image: linear-gradient(to bottom, #001728, #4D6474);
    color: #ffffff;
    padding: 20px;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom, #4D6474, #001728);
    color: #ffffff;
  }

  .text {
    margin-left: 90px;
    margin-right: 190px;
    text-align: center;
} 

